doctype
head
    title Minha primeira página com Pug
    meta(name="viewport", content="")
    link(rel="stylesheet", href="css/styles.css")
body.main#front-page
    h1(data-title="first") Olá, tudo bem?